nav{
  box-shadow: 0 0 12px -2px black;
  position: fixed;
  left: 0;
  right: 0;
  align-items: center;
  background-color: #d081fd;
  color: rgb(247, 251, 13);
  display: flex;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
#name {
  display: flexbox;
  /* align-items: center; */
  /* justify-content: left; */
  /* align-self: flex-start; */
  /* padding-left: 15px; */
  font-size: xx-large;
}
/* #first{ */
  /* padding-left: 5%; */
/* } */
#pronouns{
  padding: 5%;
  margin: 5px;
  text-align: center;
  color:antiquewhite;
}
#links{
display: flexbox;
flex-direction: row;
font-size:x-large;
color: midnightblue;
}
img{
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  max-height: 700px;
  max-width: auto;
}
h2{
  /* padding: 10%; */
  text-align: center;
  font-size: x-large;
}
p{
  text-align: center;
}
h3{
  text-align: center;
}
html{
  background-color: lemonchiffon;
}
#portHead{
  margin-top: 100px;
  text-align: center;
  /* text-shadow: darkorchid; */
  font-weight: 100;
  font-size: 2rem;
  border-bottom: 10px double #260130;
}
.container{
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-around;
}
.zoo{
  display:flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
}
.portPic{
  max-width: 200px;
}
.grocery{
  display:flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.homebody{
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border: black solid 5px;
}
#about{
  margin-top: 100px;
}
h3{
  border-bottom:double underline 5px purple;
}
/* .catPics{ */
  /* display: flexblock; */
  /* flex-direction:row; */
  /* flex-wrap: wrap-reverse; */
  /* max-height: 150px; */
  /* max-width: 30ß%; */
  /* grid-row-start: 1; */
  /* grid-row-end: span 1; */
  /* grid-column-start: 1; */
  /* grid-column-end: span 3;  */
/* }  */
.crochet{
  margin-top: 15px;
}
.catSection{
  margin-bottom: 10px;
  /* display: grid; */
  /* grid-template-columns: 50% 50%; */
  /* grid-template-rows: 800px 400px 400px; */
}
#cats{
  grid-row-start: 1;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 2;
}
/* #catPic1{
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 1;
  grid-column-end: span 1;
}
#catPic2{
  grid-row-start: 2;
  grid-row-end: span 1;
  grid-column-start: 2;
  grid-column-end: span 1;
} */
/* #catPic3{ */
  /* grid-row-start: 3; */
  /* grid-row-end: span 1; */
  /* grid-column-start: 1; */
  /* grid-column-end: span 1; */
/* } */
#catPics{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 30%;
}
caption{
  align-content: center;
}
#cHead{
  text-align: center;
  font-size: x-large;
}
#sweetBabies{
  font-size: larger;
  text-align: center;
}
.aboutpics{
  max-width: 50%;
}
input[type=text]{
  font-size: 20pt;
}
.contactForm{
  font-size: 18pt;
  /* display: flexbox;
  flex-direction: column;
  justify-content: center; */
}
#email{
  width: 350px;
}
#name{
  width: 300px
}
textarea{
  font-size: 15pt;
}